<style>
img[src*="me.jpeg"] {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

a:hover {
  cursor:pointer;
 }

hr {
  margin: 10px auto;
}
</style>

<script src="https://kit.fontawesome.com/722e0ad325.js" crossorigin="anonymous"></script>

<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.eu/embed/embed.js", "init");
  Cal("init", "j-ai-bien-aime-ton-cv", {origin:"https://app.cal.eu"});
  Cal.ns["j-ai-bien-aime-ton-cv"]("ui", {"hideEventTypeDetails":false,"layout":"month_view"});
</script>
