<p class="view">

{% if site.geolocation %}
<i class="fa-solid fa-location-dot" style="color: rgb(211, 39, 39);"></i> {{ site.geolocation }}<br>
{% endif %}

{% if site.linkedin_username %}
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a><br>
{% endif %}

{% if site.github_username %}
<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a><br>
{% endif %}

<a data-cal-link="tristan-dietz/j-ai-bien-aime-ton-cv" data-cal-namespace="j-ai-bien-aime-ton-cv" data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true"}'><i class="fa-solid fa-calendar-days"></i> Book an appointment!</a>

</p>
